*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.main_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.left span{
    font-weight: 600;
    font-size: 20px;
}

.main_container .right ul{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


ul li{
    list-style: none;
    padding-left:10px 20px ;
}

.active{
    background-color: blue;
    padding: 8px;
    border-radius: 18px;
}

main{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 30px;
  padding: 0 20px;
}

.btn{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
section{
    position: relative;
    top: 70px;
    min-height: 100vh;
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 70px;
    gap:20px;
    
}

  .card{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 15px 17px;
    align-items: flex-start;
    gap: 9px;
    border-radius: 6px;
  }

  .card_top{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .spanbtn{
    display: flex;
    flex-direction: column;
  }

  .spanbtn .bit{
    color: gray;
  }

  .card_bottom{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 5px;
  }

  .card1{
    border: 2px solid green;
    border-radius: 18px;
    padding: 6px;
  }

  .card_bottom p{
    color: gray;
    font-size: 12px;
  }

.card_top img{
    width: 50px;
}

.bottom-top{
    position: relative;
    top: 70px;
    min-height: 100vh;
}

table{
    width: 100%;
    margin: 0 8em;
}

table tr {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 5px;
}

td img{
    width: 30px;
}

.psymbol{
    border: 2px solid green;
    border-radius: 18px;
    padding: 6px;
    text-align: center;
}

tr td p{
    font-size: 12px;
    text-align: justify;
}

.pname{
    color: green;
}

show{
    opacity: 1;
    background-color: green;
}

hide{
    opacity: 0;
    background-color: black;
}